# =========================
# Python (Backend)
# =========================
__pycache__/
*.pyc
venv/
.env

# =========================
# Node.js (Frontend)
# =========================
node_modules/
.next/
dist/

# =========================
# Editor / IDE
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db